{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Lista principal{% endblock %}</h1>
{% endblock %}

{% block content %}
  <p> Bem vindo ao teste de análise de repositórios usando produtor/consumidor e threads

  <table>
  <tr> 
    <th> Link </th> 
    <th> Data de criação</th>  
    <th> Data de análise</th>
    <th> Status </th> 
  </tr>
  {% for each in my_repositories %}
        <tr role="row">
        <td >{{ each["link"] }}</td> 
        <td> {{ each["creation_date"].strftime('%d-%m-%Y %H:%M:%S') }} </td> 
        <td> {{ each["analysis_date"].strftime('%d-%m-%Y %H:%M:%S') }} </td>
        <td >{{ each["analysed"]}} </td>
  {% endfor %}
  </table>

  <br>
  <a href="{{ url_for('main.criar') }}">Cadastrar repositórios</a> 

  <div id="processar_em_background">
    <a href="{{ my_link }}">Processar repositórios</a>
  </div>
{% endblock %}