{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Lista principal{% endblock %}</h1>
{% endblock %}

{% block content %}

<script type=text/javascript>
  $(function() {
    $('a#processar').bind('click', function() {
      $.getJSON('/main/processar', function(data) {
        $("#TaskIdProcessar").text(data.TaskId);
      });
      return false;
    });
  });
</script>

  <p> Bem vindo ao teste de análise de repositórios usando produtor/consumidor e threads

  <table>
  <tr> 
    <th> Nome </th> 
    <th> Link </th> 
    <th> Data de criação</th>  
    <th> Data de análise</th>
    <th> Status </th> 
    <th> Detalhes </th>
  </tr>
  {% for each in my_repositories %}
        <tr role="row">
        <td> {{ each["name"]}} </td>
        <td >{{ each["link"] }}</td> 
        <td> {{ each["creation_date"].strftime('%d-%m-%Y %H:%M:%S') }} </td> 
        <td> {{ each["analysis_date"].strftime('%d-%m-%Y %H:%M:%S') }} </td>
        <td >{{ status_repositorio(each["analysed"]) }} </td>
        <td> <a href="{{ url_for('main.visualizar_analise_repositorio', id=each['id']) }}">Mais...</a></td> 
  {% endfor %}
  </table>

  <br>
  <a href="{{ url_for('main.criar') }}">Cadastrar novo(s) repositório(s)</a> 
  <br>
  <a href='#' id='processar'>Processar o(s) repositório(s) enfileirado(s)</a> <span id='TaskIdProcessar'>?</span>

{% endblock %}